{{define "title"}}Create a New Twit{{end}}

{{define "main"}}
<form action="/twit/create" method="POST">
    <div>
        <label>Title:</label>
        <input type="text" name="title">
    </div>
    <div>
        <label>Content:</label>
        <textarea name="Content"></textarea>
    </div>
    <div>
        <label>Delete in:</label>
        <input type="radio" name="Expires" value="365" checked> One Year 
        <input type="radio" name="Expires" value="7"> One Week
        <input type="radio" name="Expires" value="1"> One Day
    </div>
    <div>
        <input type="submit" value="Publish Twit">
    </div>
</form>
{{end}}